<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>let's go for lunch</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/p5@1.11.8/lib/p5.min.js"></script>
<style>
/* todo: eventually put this in a seperate file */

/* unselectable */
div.note {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */

    cursor: default;
    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}
    
</style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Lunch App!</h1>
        </ul>
    </div>
    <script>
    const thinking3DEmojiURL = "{{ url_for('static', filename='images/lunch/thinking_3d.gif') }}";
    </script>
    <script src="{{ url_for('static', filename='js/lunch/sketch.js') }}"></script>
</body>
</html>