<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>let's go for lunch</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/p5@1.11.8/lib/p5.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/lunch.css') }}">
</head>
<body>
    <script>
    const thinking3DEmojiURL = "{{ url_for('static', filename='img/lunch/thinking_3d.gif') }}";

    </script>
    <script src="{{ url_for('static', filename='js/lunch/sketch.js') }}"></script>
    <div class="search-box-container glassmorphism">
        <span class="search-icon">&#128269;</span>
        <input id="search-box" type="text" id="searchInput" class="form-control" placeholder="Where to eat?">
    </div>

    <div class="control-container glassmorphism">
        <a id="uncheck-all" class="btn btn-icon disabled">
            Uncheck All
        </a>
        <a id="check-all" class="btn btn-icon">
            Check All
        </a>
        <a id="new-place" class="btn btn-icon" href="/lunch_new">
            Add New Place
        </a>
        <button id="submit" class="btn btn-success disabled">Submit</button>
        <a id="vote_result" class="btn btn-icon" href="/lunch_vote">
            Results
        </a>
    </div>
</body>
</html>